asgiref==3.5.0
attr==0.3.1
blinker==1.4
brotli==1.0.9
ConfigParser==5.2.0
cryptography==36.0.1
Cython==0.29.28
dl==0.1.0
docutils==0.18.1
gevent==21.12.0
greenlet==1.1.2
HTMLParser==0.0.2
ipython==8.1.1
ipywidgets==7.6.5
jnius==1.1.0
keyring==23.5.0
lockfile==0.12.2
lxml==4.8.0
numpy==1.21.2
ordereddict==1.1
Pillow==9.0.1
protobuf==3.19.4
PyMySQL==1.0.2
pyOpenSSL==22.0.0
python-dotenv==0.19.2
railroad==0.5.0
sets==0.3.2
Sphinx==4.4.0
toml==0.10.2
tornado==6.1
usercustomize==1.0.0
watchdog==2.1.6
xmlrpclib==1.0.1
